[uwsgi]
    socket = {{project_path}}/tmp/uwsgi.sock
    processes = 5
    virtualenv = {{ virtualenv_path }}
    env = LANG=ru_RU.utf8
    env = LC_ALL=ru_RU.utf8
    env = LC_LANG=ru_RU.utf8
    env = DJANGO_SETTINGS_MODULE={{ application_name }}.settings
    module = {{ project_name }}.wsgi
    chdir = {{ application_path }}/
    master = 1
    uid = {{ system_user_id.stdout }}
    harakiri = 30
    optimize = 3
    chmod-socket = 666
    touch-reload = {{project_path}}/tmp/reload.txt
    procname = {{ project_name }}_uwsgi
    vacuum = 1
    max-requests = 2000
    cheaper = 1
    post-buffering = 20048576
    logdate = true
    logto = {{ application_log_file }}

